.contract{ background:#edf1f4; width:578px; margin:0 auto; padding-bottom:50px;}
.contract > div{ width:94%; margin:0 auto; background:#fff; padding: 18px;}
.contract h2{text-align:center; line-height: 86px; font-size:24px; font-weight:bold;}
.contract p{line-height: 24px;font-size: 12px;}
.contract strong{  font-size:14px; font-weight:bold; display: block; padding: 20px 0;}